.home {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;

  font-family: "Rubik", sans-serif;
}

.footer {
  margin-top: 700px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chat-icon {
  margin-left: -72px;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 22px;
  background-color: #626262;
  box-sizing: border-box;
}
.chat-icon > {
  width: 54px;
  height: 52px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.footer-bottom > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  color: var(--Text, #363940);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.6875rem; /* 179.167% */
}

.about-btn {
  cursor: pointer;
}

.footer-bottom > div:nth-child(2) {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 18px;
}

.villas,
.hotels {
  margin-top: 137px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.villas-top,
.hotels-top {
  display: flex;
  justify-content: space-between;
}

.allBtn {
  all: unset;
  padding: 3px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  background-color: #e2e2e2;
  cursor: pointer;
}
.allBtn > div {
  width: 43px;
  color: var(--Text, #363940);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6875rem; /* 215% */
}

.villas-grid,
.hotels-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/*helpers*/

.container-md {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.title-large {
  color: var(--Text, #363940);
  font-feature-settings: "clig" off, "liga" off;
  /* H1 */
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6875rem; /* 119.444% */
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

a {
  all: unset;
}

@media (max-width: 360px) {
  .title-large {
    font-size: 1rem;
  }

  .categories {
    gap: 1.5rem;
  }

  .grid-tabs {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 1fr 1fr;
    gap: 10px;
  }
}
