.btn {
  padding: 9px 12px;
  width: 160px;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  color: var(--brand-color-2);
  background-color: #333;
  transition: 0.5s all ease;
}

.primary:hover {
  background-color: var(--brand-color-3);
  transition: 0.5s all ease;
  color: var(--font-color-main);
}

.secondary {
  color: var(--font-color);
  background-color: var(--surface-color);
}

.secondary:hover {
  color: var(--brand-color-2);
  background-color: #333;
  transition: 0.5s all ease;
}

.full-width-gray {
  width: 100%;
  border-radius: 10px;
  height: 62px;
  color: var(--font-black);
  font-weight: 600;
  background-color: var(--bg-color);
}

.full-width-white {
  width: 100%;
  border-radius: 10px;
  height: 62px;
  color: var(--font-black);
  font-weight: 600;
  background-color: var(--brand-color-2);
}

@media only screen and (min-width: 360px) and (max-width: 560px) {
  .btn {
    align-self: center;
  }
}
