.btn {
  padding: 9px 12px;
  width: 160px;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn svg path {
  width: 20px;
  height: 20px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.primary {
  color: var(--brand-color-2);
  background-color: #333;
  transition: 0.5s all ease;
}

.primary:hover,
.full-width-primary:hover {
  background-color: var(--brand-color-3);
  transition: 0.5s all ease;
  color: var(--font-color-main);
}

.secondary {
  color: var(--font-color);
  background-color: var(--surface-color);
  font-weight: 600;
}

.red {
  color: #ff4141;
  background-color: #ffefef;
  font-weight: 600;
  transition: all 0.5s ease;
}

.red:hover {
  background-color: #ff4141;
  color: #ffefef;
}

.secondary:hover {
  color: var(--brand-color-2);
  background-color: #333;
  transition: 0.5s all ease;
}

.full-width-gray {
  width: 100%;
  border-radius: 10px;
  height: 62px;
  color: var(--font-black);
  font-weight: 600;
  background-color: var(--bg-color);
}

.full-width-white {
  width: 100%;
  border-radius: 10px;
  height: 62px;
  color: var(--font-black);
  font-weight: 600;
  background-color: var(--brand-color-2);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.5s ease;
}

.full-width-white:hover {
  background-color: #333;
  color: var(--bg-color);
}

.full-width-primary {
  width: 100%;
  color: var(--brand-color-2);
  background-color: #333;
  transition: 0.5s all ease;
}

.white-and-red {
  background-color: var(--brand-color-2);
  color: #ff4141;
  font-size: 14px;
  font-weight: 600;
}

.icon {
  width: 44px;
  height: 44px;
  background-color: var(--brand-color-2);
  transition: all 0.5s ease;
}

.icon:hover svg path {
  fill: #f4dc09;
}

.icon-red {
  width: 44px;
  height: 44px;
  color: #ff4141;
  background-color: #ffefef;
  transition: all 0.5s ease;
}

.icon-red svg path {
  stroke: #ff4141;
}

.icon-red:hover {
  background-color: #ff4141;
}

.icon-red:hover svg path {
  stroke: #ffefef;
}

@media only screen and (min-width: 360px) and (max-width: 560px) {
  .btn {
    align-self: center;
  }
}
