.fc-theme-standard .fc-popover-header,
.fc-theme-standard .fc-list-day-cushion {
  background: #70d8bd;
}
.fc-popover-body {
  background: #141b2d;
}
.fc-list-event:hover {
  background: #1f1fff;
}
.ant-input-group-addon {
  border-radius: 0 !important;
}
.ant-select-selector {
  background: white;
  color: black !important;
}
.ant-select-arrow {
  color: #70d8bd !important;
}
/* .ant-select-focused {
  background: #70d8bd !important;
} */
.input-2-row {
  margin-top: 0 !important;
  width: 49% !important;
}
.box-2-input {
  margin-bottom: 30px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  gap: 30px;
}
.input input::placeholder,
.input textarea::placeholder {
  color: rgb(0, 47, 52) !important;
  opacity: 0.6;
}
.input {
  margin-bottom: 30px;
}

.card {
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.card p {
  font-weight: bold;
  color: #0086fe;
}

.card .drag-area {
  height: 150px;
  border-radius: 5px;
  border: 2px dashed #70d8bd;
  color: #70d8bd;
  /*background: #f4f3f9;*/
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 10px;
  flex-wrap: wrap;
}

.card .select {
  color: black;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.card .select:hover {
  opacity: 0.6;
}

.card .container-inputLeft {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  overflow-y: auto;
  margin-top: 10px;
}

.card .container-inputLeft .image {
  width: 100px;
  margin-right: 5px;
  height: 100px;
  position: relative;
  margin-bottom: 8px;
}

.card .container-inputLeft .image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 5px;
}

.delete {
  position: absolute !important;
  top: 1px;
  right: 2px;
  font-size: 20px;
  cursor: pointer;
}

.card input,
.card .drag-area .on-drop,
.card .drag-area.dragover .visible {
  display: none;
}
.delete {
  z-index: 999;
  color: red;
}
.browse-btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #70d8bd;
}
.create-calendar-box {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}
.calendar-map,
.calendar-input {
  width: 100%;
}
.splide__slide {
  width: 150px !important;
  height: 150px !important;
}
.splide {
  width: 80%;
  overflow: hidden;
}
.splide__slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.splide__arrows {
  display: none;
}

.ann-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.ann-box-item {
  display: flex;
  width: 70%;
  height: 150px;
  background: #1f2a40;
  margin: 10px;
  padding: 2px 3px;
  overflow: hidden;
}
.ann-box-photo {
  width: 50%;
  height: 100%;
  border: 3px dashed #70d8bd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ann-box-info {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  position: relative;
}
.ann-box-footer {
  width: 77%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  margin-top: 5px;
}
.ann-item-title {
  width: 100%;
  height: 73%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.ann-box-footer Button {
  margin: 0 0 0 10px;
  width: 100px;
  height: 100%;
}
.ann-item-title h1,
p {
  font-size: 25px;
  line-height: 1.2;
  margin: 0;
}

.defBlockAnn {
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cacaca;
  cursor: pointer;
}

.announcement-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 750px) {
  .create-calendar-box {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .ann-box-item {
    width: 100%;
    margin: 10px 0;
    flex-direction: column;
    height: 290px;
  }
  .ann-box-photo {
    width: 100%;
  }
  .ann-box-info {
    margin: 0;
  }
  .card .drag-area {
    width: 80%;
  }
  .calendar-map,
  .calendar-input {
    width: 100%;
  }
  .input-2-row {
    width: 100% !important;
    float: start;
  }
  .box-2-input {
    flex-direction: column;
  }
}

/* helpers */

.container-md {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 940px;
}

.calendar-input input,
.calendar-input textarea,
.create-calendar-box input,
.create-calendar-box textarea {
  min-height: 2.5rem;
  background-color: #d9d9d9 !important;
  border: none !important;
  border-radius: 0 !important;
}
