.categories-wrapper {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.section-title {
  font-size: 32px;
  color: var(--font-color-1);
}

.category {
  display: flex;
  align-items: center;
  gap: 45px;
  background-color: var(--brand-color-2);
  padding: 18px;
  border-radius: 10px;
}

.category-link-wrapper {
  width: 32%;
  cursor: pointer;
}

.category-link-wrapper:last-child {
  opacity: 0.6;
}

@media only screen and (min-width: 360px) and (max-width: 560px) {
  .categories-wrapper {
    flex-direction: column;
  }

  .category-link-wrapper {
    width: 100%;
  }

  .category p {
    font-size: 16px;
  }
}

/* @media only screen and (min-width: 561px) and (max-width: 835px) {
  .categories-wrapper {
    padding: 0 1rem;
    gap: 16px;
  }

  .category-link-wrapper {
    width: 30%;
  }

  .category {
    gap: 20px;
  }
} */
