.categories-wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--brand-color-2);
  padding: 32px 18px;
  border-radius: 20px;
}

.section-title {
  font-size: 32px;
  color: var(--font-color-1);
}

.grid-tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px; /* Adjust as needed */
}

.grid-tab {
  padding: 16px;
  border-radius: 20px;
  background: #cacaca;
  aspect-ratio: 1;
  cursor: pointer;

  display: flex;
  justify-content: start;
  flex-direction: column;
  justify-content: space-between;

  transition: filter 0.3s ease;
}

.grid-tab:hover {
  filter: brightness(105%);
}

.grid-tab.grid-tab-large {
  aspect-ratio: auto;
  grid-column: span 2;
}

.grid-tab .tab-description {
  text-align: end;
}
