.categories-wrapper {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.section-title {
  font-size: 32px;
  color: var(--font-color-1);
}

.category {
  display: flex;
  align-items: center;
  gap: 45px;
  background-color: var(--brand-color-2);
  padding: 18px;
  border-radius: 10px;
}

.category-link-wrapper {
  width: 32%;
  cursor: pointer;
}

.category-link-wrapper:last-child {
  opacity: 0.6;
}
