.booking-tab {
  padding: 1.5rem;
  min-height: 350px;
}

.booking-card {
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--surface-color);
  padding: 12px 31px 22px;
  margin-top: 16px;
}

.booking-card h4 {
  font-size: 18px;
  color: var(--font-color-1);
  margin-bottom: 12px;
}

.booking-card-address {
  display: flex;
  align-items: center;
  color: var(--font-color-2);
  font-size: 14px;
  margin-bottom: 12px;
  gap: 6px;
}

.booking-card-address svg path {
  fill: var(--font-color-2);
}

.booking-card-price-box span {
  display: block;
  color: var(--font-color-2);
  font-size: 14px;
  margin-bottom: 6px;
}

.booking-card-price,
.booking-card-details > p {
  font-size: 16px;
  color: var(--font-color-1);
  font-weight: 700;
}

.booking-card-details {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.booking-card-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.booking-status {
  width: 100%;
  padding: 13px;
  border-radius: 10px;
  margin-top: 14px;
}

.booking-status span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.booking-status span p {
  font-size: 14px;
}

.ongoing,
.finished {
  background-color: var(--surface-color);
}

.cancelled {
  background-color: #ffefef;
}

.approved {
  background-color: rgba(21, 204, 105, 0.1);
}

.booking-rejected {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--surface-color);
  padding: 12px;
  color: var(--font-color-1);
  font-size: 14px;
  margin-top: 14px;
}

.booking-accepted-number {
  font-size: 16px;
  color: var(--font-color-3);
  font-weight: 700;
}

.booking-rejected {
  width: 100%;
  gap: 16px;
}

.booking-rejected p {
  font-size: 12px;
}

.booking-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  margin-top: 18px;
  width: 295px;
}

.booking-rating-modal {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.booking-rating-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.booking-rating-item label {
  font-size: 12px;
  font-weight: 700;
}

.booking-rating-item textarea {
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--bg-color);
  resize: none;
  font-size: 12px;
  font-family: "Montserrat";
}

.booking-rating-item textarea::placeholder {
  font-size: 14px;
  color: var(--font-color-3);
  font-family: "Montserrat";
}

.booking-rating-item > p {
  font-size: 12px;
  color: var(--font-color-3);
}

.booking-rating-btn {
  width: 60%;
  margin: 0 auto;
}

.early-departure-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 16px;
}

.early-departure-modal h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
  color: var(--font-color-1);
}

.early-departure-modal > p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 9px;
  color: var(--font-color-1);
  font-weight: 600;
}

.early-departure-modal > span {
  font-size: 16px;
  text-align: center;
  color: var(--font-color-1);
}

.early-departure-penalty {
  font-size: 14px;
  text-align: center;
  color: var(--font-color-3);
}

.early-departure-btns {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.booking-review {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.booking-review-container {
  margin-top: 18px;
  border: 1px solid var(--surface-color);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.booking-review-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* booking in action on item pages */
.booking-action {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  padding: 23px 26px 40px;
  border-radius: 10px;
  background-color: var(--brand-color-2);
  width: 387px;
  height: 600px;
}

.booking-action h2 {
  font-size: 26px;
  font-weight: 500;
  text-align: left;
}

.booking-action-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.booking-action-empty p {
  font-size: 16px;
  color: var(--font-color-3);
  text-align: center;
}

.booking-action-info {
  width: 100%;
  padding: 14px 14px 27px 14px;
  background-color: var(--bg-color);
  border-radius: 10px;
  display: flex;
  align-items: start;
  gap: 16px;
  flex-direction: column;
}

.booking-action-info-box {
  padding: 6px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 10px;
  background-color: var(--brand-color-2);
  height: 46px;
}

.booking-action-info-box:nth-child(2) {
  width: 100%;
}

.booking-action-info-box span {
  font-weight: 400;
  font-size: 13px;
}

.booking-action-rooms {
  font-size: 18px;
  font-weight: 600;
  color: var(--font-color-1);
}

.booking-action-room-type,
.booking-action-price p {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-3);
}

.booking-action-price,
.booking-action-info-rooms {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.booking-action-price span {
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color-1);
}

.booking-action-date {
  display: flex;
  align-items: center;
  gap: 8px;
}

.booking-action-date span {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-1);
}

.datepicker-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 12px;
  width: 100%;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-input-wrapper label {
  font-size: 14px;
  color: var(--font-black);
  margin-bottom: 8px;
}

.datepicker-box input {
  padding: 10px 15px;
  outline: none;
  border: none;
  color: var(--font-color-main);
  background-color: var(--bg-color);
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.1;
  height: 45px;
  width: 100%;
}

.booking-datepicker {
  background-color: #fff !important;
}

.booking-action-info-people {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--brand-color-2);
  border-radius: 5px;
}

.booking-action-info-people input {
  border: none;
  outline: none;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: "Montserrat";
  width: 190px;
}

.booking-action-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--bg-color);
  align-self: center;
  border: none;
  outline: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.booking-action-remove:hover {
  background-color: #ff4141;
}

.booking-action-remove svg path {
  stroke: #ff4141;
}

.booking-action-remove:hover svg path {
  stroke: #ffefef;
}

.booking-action-total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.booking-action-total-price p {
  font-size: 16px;
  color: var(--font-color-1);
  font-weight: 600;
}

.confirmation-modal {
  padding: 1.5rem;
}

.confirmation-period-icon {
  width: 30px;
  height: 30px;
  background-color: #15cc69;
  border: 5px #e6f6e7 solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-period-icon svg {
  fill: var(--brand-color-2);
  width: 18px;
  height: 18px;
}

.confirmation-period-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.confirmation-period,
.confirmation-details-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.confirmation-period {
  margin-bottom: 10px;
}

.confirmation-period p {
  font-weight: 400;
  font-size: 14px;
  color: var(--font-color-1);
}

.confirmation-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  margin-top: 55px;
  margin-bottom: 32px;
}

.confirmation-details h3 {
  font-size: 14px;
  font-weight: 500;
  color: var(--font-color-1);
  margin-bottom: 2px;
}

.confirmation-details-item p {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-3);
}

.confirmation-details-item span {
  display: block;
  color: var(--font-color-1);
  font-size: 14px;
  font-weight: 600;
}

.confirmation-result {
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.confirmation-result-icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-result-icon svg {
  width: 40px;
  height: 40px;
  fill: var(--brand-color-2);
}

.confirmation-result h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--font-color-1);
  text-align: center;
  margin-bottom: 8px;
}

.confirmation-result p {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-1);
  text-align: center;
}

.success {
  background-color: #15cc69;
}

.error {
  background-color: #ff4141;
}

.confirmation-result-navlink {
  width: 100%;
}
