.booking-tab {
  padding: 1.5rem;
  min-height: 350px;
}

.booking-card {
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--surface-color);
  padding: 12px 31px 22px;
  margin-top: 16px;
}

.booking-card h4 {
  font-size: 18px;
  color: var(--font-color-1);
  margin-bottom: 12px;
}

.booking-card-address {
  display: flex;
  align-items: center;
  color: var(--font-color-2);
  font-size: 14px;
  margin-bottom: 12px;
  gap: 6px;
}

.booking-card-address svg path {
  fill: var(--font-color-2);
}

.booking-card-price-box span {
  display: block;
  color: var(--font-color-2);
  font-size: 14px;
  margin-bottom: 6px;
}

.booking-card-price,
.booking-card-details > p {
  font-size: 16px;
  color: var(--font-color-1);
  font-weight: 700;
}

.booking-card-details {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.booking-card-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.booking-status {
  width: 100%;
  padding: 13px;
  border-radius: 10px;
  margin-top: 14px;
}

.booking-status span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.booking-status span p {
  font-size: 14px;
}

.pending,
.completed {
  background-color: var(--surface-color);
}

.rejected {
  background-color: #ffefef;
}

.approved {
  background-color: rgba(21, 204, 105, 0.1);
}

.booking-rejected {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--surface-color);
  padding: 12px;
  color: var(--font-color-1);
  font-size: 14px;
  margin-top: 14px;
}

.booking-accepted-number {
  font-size: 16px;
  color: var(--font-color-3);
  font-weight: 700;
}

.booking-rejected {
  width: 100%;
  gap: 16px;
}

.booking-rejected p {
  font-size: 12px;
}

.booking-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  margin-top: 18px;
  width: 295px;
}

.booking-rating-modal {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.booking-rating-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.booking-rating-item label {
  font-size: 12px;
  font-weight: 700;
}

.booking-rating-item textarea {
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--bg-color);
  resize: none;
  font-size: 12px;
  font-family: "Montserrat";
}

.booking-rating-item textarea::placeholder {
  font-size: 14px;
  color: var(--font-color-3);
  font-family: "Montserrat";
}

.booking-rating-item > p {
  font-size: 12px;
  color: var(--font-color-3);
}

.booking-rating-btn {
  width: 60%;
  margin: 0 auto;
}

.early-departure-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 16px;
}

.early-departure-modal h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
  color: var(--font-color-1);
}

.early-departure-modal > p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 9px;
  color: var(--font-color-1);
  font-weight: 600;
}

.early-departure-modal > span {
  font-size: 16px;
  text-align: center;
  color: var(--font-color-1);
}

.early-departure-penalty {
  font-size: 14px;
  text-align: center;
  color: var(--font-color-3);
}

.early-departure-btns {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.booking-review {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
