.profile-image-uploader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  margin-bottom: 16px;
  position: relative;
  width: 100px;
}

.profile-image-uploader-wrapper label {
  color: #15cc69;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.profile-image-uploader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image-uploader img,
.profile-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-input-uploader {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile-input-uploader + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.profile-add-image {
  background-color: var(--font-color-1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.profile-add-image svg {
  fill: var(--brand-color-2);
  width: 20px;
  height: 17px;
}
