@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --brand-color-1: #d9d9d9;
  --brand-color-2: #fff;
  --brand-color-3: #cacaca;
  --accent-color: #f8f8f8;
  --font-color-main: #363940;
  --font-color: #1f1f1f;
  --font-color-1: #292d32;
  --font-color-2: #bababa;
  --font-black: #000;
  --bg-color: #f7f8f9;
  --surface-color: #eeeff5;
}

html {
  background-color: var(--bg-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
}
.layout-app {
  display: flex;
  position: relative;
}
.css-1j1s727,
.css-jtrkzm {
  height: 100vh;
}

.swiper-slide {
  width: 1180px !important;
  background: none !important;
  height: 16rem !important;
  padding: 0 !important;
}

.swiper-wrapper {
  height: 16rem !important;
  gap: 1rem;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 44%;
  bottom: 12px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--brand-color-2);
}

.react-datepicker__input-container {
  display: flex;
  align-items: center;
}

.react-datepicker__calendar-icon {
  padding: 0 !important;
}

.react-datepicker__view-calendar-icon input {
  padding: 10px 15px !important;
  border: none;
  outline: none;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  right: 5px;
  color: var(--font-color-main);
}

.react-datepicker-popper {
  z-index: 8;
}
