.container {
  margin: 0 auto;
  max-width: 1200px;
}

@media only screen and (min-width: 360px) and (max-width: 560px) {
  .container {
    max-width: 90%;
  }
}

@media only screen and (min-width: 561px) and (max-width: 835px) {
  .container {
    max-width: 95%;
  }
}
