.requests-wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.new-request-wrapper {
  background-color: var(--brand-color-2);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.request-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  width: 100%;
}

.request-input label {
  font-weight: 700;
  font-size: 12px;
  color: var(--font-color-1);
}

.request-input input,
.request-input textarea {
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 12px 16px;
  outline: none;
  border: none;
  width: 45%;
}

.request-input input::placeholder,
.request-input textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: var(--font-color-3);
}

.request-input textarea {
  /* width: 470px; */
  height: 231px;
  resize: none;
}
