.header {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.header-left {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.header-logo {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: #1f1f1f;
  cursor: pointer;
}

.header-logo > p {
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 2px;
}

.header-logo svg {
  width: 44px;
  height: 44px;
}

.header-right,
.auth-routes {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}
.header-right > * {
  cursor: pointer;
}
.auth-btn {
  all: unset;
  color: #1f1f1f;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.language-btn {
  width: 26px;
  height: 26px;
}
.language-btn:hover {
  animation: focus 0.5s ease-in-out;
}

.notification-btn {
  width: 26px;
  height: 26px;
}
.sidebar-btn > svg {
  width: 30px;
  height: 30px;
}

.notification-btn:hover {
  animation: giggle 1s ease-in-out;
}

.account-menu div {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 2px;
}

.mobile_nav {
  display: none;
}

.mobile-menu-btn {
  display: none;
}

/*helpers*/

.container-md {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* animations */

@keyframes focus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes giggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* responsiveness */
@media (max-width: 360px) {
  .Header {
    flex-direction: column-reverse;
    align-items: start;
    gap: 1rem;
    margin: 3rem 1rem 0;
  }

  .header-logo,
  .language-btn,
  .auth-routes {
    display: none;
  }

  .header-left {
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .mobile-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #6b6b6b;
  }

  .mobile-menu-btn svg {
    width: 26px;
    height: 26px;
  }

  .mobile_nav {
    position: absolute;
    display: flex;
    width: 80%;
    height: 100vh;
    top: 0;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .mobile_nav_active {
    position: fixed;
    display: flex;
    background: #d9d9d9;
    width: 80%;
    height: 100vh;
    top: 0;
    right: 0;
    opacity: 0.9;
    transition: all 0.5s ease;
    border-radius: 8px 0 0 8px;
    z-index: 1;
  }
  .mobile-nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
  }
  .auth-btn {
    font-size: 1.2rem;
  }
}
