.header {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.header-left {
  display: flex;
  justify-content: space-between;
  width: 70%;
  gap: 1.5rem;
}

.header-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--brand-color-2);
  border-radius: 10px;
  padding: 10px 40.5px;
}

.header-profile-pic {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.header-profile p {
  font-size: 16px;
}

.header-notification {
  width: 25px;
  height: 25px;
}

.header-notification-badge {
  width: 100%;
  height: 100%;
}

.header-right,
.auth-routes {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}
.header-right > * {
  cursor: pointer;
}

.language-btn {
  width: 26px;
  height: 26px;
}
.language-btn:hover {
  animation: focus 0.5s ease-in-out;
}

.sidebar-btn > svg {
  width: 30px;
  height: 30px;
}

.mobile_nav {
  display: none;
}

.mobile-menu-btn {
  display: none;
}

/*helpers*/

.container-md {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* animations */

@keyframes focus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes giggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* responsiveness */
@media only screen and (min-width: 360px) and (max-width: 560px) {
  .header {
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 1rem 0;
  }

  .header-left {
    width: 100%;
    align-items: center;
    gap: 0.5rem;
  }

  .header-right {
    align-self: flex-end;
  }

  .mobile-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #6b6b6b;
  }

  .mobile-menu-btn svg {
    width: 26px;
    height: 26px;
  }

  .mobile_nav {
    position: absolute;
    display: flex;
    width: 80%;
    height: 100vh;
    top: 0;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .mobile_nav_active {
    position: fixed;
    display: flex;
    background: #d9d9d9;
    width: 80%;
    height: 100vh;
    top: 0;
    right: 0;
    opacity: 0.9;
    transition: all 0.5s ease;
    border-radius: 8px 0 0 8px;
    z-index: 1;
  }
  .mobile-nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
  }
  .auth-btn {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 561px) and (max-width: 835px) {
  .container-md {
    max-width: 90%;
  }
  .header-left {
    width: 55%;
  }
}
