.tabs {
  display: flex;
  width: 100%;
  align-items: center;
  list-style-type: none;
  border-radius: 10px;
}

.page-tabs {
  background-color: unset;
}

.tabs li {
  width: 50%;
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.tab-active {
  background-color: var(--brand-color-2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--font-black);
}

.tab-inactive {
  color: var(--font-color-2);
}

.tab-inactive svg path {
  fill: var(--font-color-2);
}

.tab-content {
  background-color: var(--brand-color-2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
