.sidebar-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 555;
  top: 14.5%;
  right: 18%;
  width: 15%;
  height: 400px;
  border-radius: 8px;
}

.sidebar-arrow {
  align-self: flex-end;
  margin-right: 1.5rem;
  margin-bottom: -5px;
}

.sidebar {
  height: 400px;
  padding: 16px 16px 45px 16px;
  background: var(--brand-color-2);
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  z-index: 55;
  user-select: none;
  cursor: unset;
  transition: transform 0.3s ease-in-out;
}

.sidebar-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--bg-color);
  padding: 12px;
  gap: 3px;
}

.sidebar img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.sidebar-links-wrap {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  all: unset;
  padding: 12px 16px 0;
  border-radius: 8px;
  color: var(--font-color-1);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25rem;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-link svg {
  margin-bottom: 12px;
}

.sidebar-link-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--bg-color);
}

.sidebar-link:hover {
  background-color: var(--bg-color);
}

@media only screen and (min-width: 360px) and (max-width: 560px) {
  .sidebar-container {
    width: 75%;
    top: 28%;
    right: 10%;
  }
}

@media only screen and (min-width: 561px) and (max-width: 835px) {
  .sidebar-container {
    width: 40%;
    top: 15%;
    right: 5%;
  }
}
