.accomodation-wrapper {
  display: flex;
  width: 100%;
  padding: 22px 30px 22px 22px;
  border-radius: 20px;
  background-color: var(--brand-color-2);
  gap: 17px;
}

.accomodation-img {
  border-radius: 16px;
  width: 300px;
  height: 216px;
  overflow: hidden;
}

.accomodation-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accomodation-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accomodation-title {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.5s ease;
}

.accomodation-title:hover {
  text-decoration: underline;
}

.accomodation-inner-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accomodation-upper-part,
.accomodation-lower-part {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.accomodation-lower-part {
  align-items: flex-end;
}

.accomodation-rate {
  font-weight: 600;
  font-size: 16px;
}

.accomodation-infobox {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

.accomodation-infobox p {
  font-size: 14px;
  color: var(--font-color-2);
}

.accomodation-ratings {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.accomodation-ratings p {
  font-size: 10px;
}

.accomodation-prices {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 4px;
}

.accomodation-prices p {
  font-size: 16px;
  font-weight: 600;
}

.accomodation-price-type {
  font-size: 14px;
  color: var(--font-color-2);
}

.accomodation-btn {
  background-color: var(--brand-color-1);
  font-weight: 600;
  width: 97px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
  outline: none;
}

.add-fav {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: all 0.5s ease;
}

.add-fav:hover svg path {
  fill: rgb(244, 220, 9);
}

.accommodation-tags {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 6px;
}

.accommodation-tag {
  background-color: var(--bg-color);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  width: fit-content;
}

@media only screen and (min-width: 360px) and (max-width: 560px) {
  .accomodation-wrapper {
    flex-direction: column;
    padding: 1rem;
  }

  .accomodation-inner-wrapper {
    width: 100%;
  }

  .accomodation-img {
    width: 100%;
    /* object-fit: contain; */
  }
}

@media only screen and (min-width: 561px) and (max-width: 835px) {
  .accomodation-wrapper {
    flex-direction: column;
  }

  .accomodation-inner-wrapper {
    width: 100%;
  }

  .accomodation-img {
    width: 100%;
  }
}
