.cottage-wrapper {
  display: flex;
  width: 100%;
  padding: 22px 30px 22px 22px;
  border-radius: 20px;
  background-color: var(--brand-color-2);
  gap: 17px;
}

.cottage-img {
  border-radius: 16px;
  width: 300px;
  height: 216px;
  overflow: hidden;
}

.cottage-img img {
  width: 100%;
}

.cottage-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cottage-title {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
}

.cottage-inner-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cottage-upper-part,
.cottage-lower-part {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.cottage-lower-part {
  align-items: flex-end;
}

.cottage-rate {
  font-weight: 600;
  font-size: 16px;
}

.cottage-infobox {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}

.cottage-infobox p {
  font-size: 14px;
  color: var(--font-color-2);
}

.cottage-ratings {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.cottage-ratings p {
  font-size: 10px;
}

.cottage-prices {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 4px;
}

.cottage-prices p {
  font-size: 16px;
  font-weight: 600;
}

.cottage-price-type {
  font-size: 14px;
  color: var(--font-color-2);
}

.cottage-btn {
  background-color: var(--brand-color-1);
  font-weight: 600;
  width: 97px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
  outline: none;
}
