
.container-login{
    width: 100%;
    height: 100vh;
    background-color: #24242c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.two-register-input{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


.container-login .inp {
    width: 300px;
    margin: 0 10px;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}



.container-login input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #494954;
    border-radius: 10px;
    outline: none;
    transition: .4s;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}

.container-login input:focus {
    border: 2px solid #1f1fff;
    box-shadow: #6767ff 0px 1px 1px, #6767ff 0px 0px 0px 1px;
}

.container-login input:focus + label {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}

.container-login .up {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}

.container-login button {
    width: 350px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    background-color: #2020db;
    border: 2px solid #1f1fff;
    border-radius: 50px;
    outline: none;
    transition: .4s;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Figtree', sans-serif;
}

.container-login button:hover {
    background-color: #1717c2;
    border: 2px solid #1717c2;
}

.container-login h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Figtree', sans-serif;
    color: #fff;
    margin-bottom: 20px;
}

.container-login a {
    color: #bbbbbb;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Figtree', sans-serif;
}

.container-login a:hover {
    text-decoration: underline;
}

.container-login img {
    width: 70px;
    border-radius: 10px;
    border: 1px solid #494954;
}

@media only screen and (max-width: 750px) {
    .container-login .pic {
        display: none;
    }

    /* .pic2 {
        display: block;
    } */

    .container-login {
        width: 100%;
    }
}

@media only screen and (max-height: 450px) {
    .container-login .pic {
        display: none;
    }

    .container-login {
        width: 100%;
    }
}
@media screen and (max-width: 750px){
    .two-register-input{
        justify-content: center;
        align-items: center;
    }
    .container-login h1{
        margin: 0;
    }
}